@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.heroSectionBg {
  background-image: url(./assets/heroBg.png);
}

/* .foodCategoryBg {
  background-image: url(./assets/foodCategoryBg.png);
  background-repeat: no-repeat;
} */

.clients {
  background-image: url(./assets/clientBg.png);

}

.choosePickBg {
  background-image: url(./assets/choosePickImg1.png);
}