@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.h1 {
  font-size: 60px;
  line-height: 68px;
}

.h2 {
  font-size: 48px;
  line-height: 56px;
}

.h3 {
  font-size: 40px;
  line-height: 48px;
}

.h4 {
  font-size: 32px;
  line-height: 40px;
}

.h5 {
  font-size: 24px;
  line-height: 32px;
}

.h6 {
  font-size: 20px;
  line-height: 28px;
}

.p {
  font-size: 18px;
  line-height: 26px;
}

.p-sm {
  font-size: 16px;
  line-height: 24px;
}


.heroSectionBg {
  background-image: url(./assets/heroBg.png);
}

/* .foodCategoryBg {
  background-image: url(./assets/foodCategoryBg.png);
  background-repeat: no-repeat;
} */

.clients {
  background-image: url(./assets/clientBg.png);

}

.choosePickBg {
  background-image: url(./assets/choosePickImg1.png);
}
.restaurantProcessBg {
  background-image: url(./assets/restaurantProcessBg.png);
}

.heroSection2 {
  background-image: url(./assets/heroSection2Bg.png);
}